body {
    background: url(background.png);
}
@media (max-width: 767px) {
    body {
        padding: 75px;
    }
}
@media (min-width: 768px) {
    body {
        padding-top: 150px;
    }
}
<!-- Bootstrap Modifications --> <!-- These are courtesy of http://www.wearesicc.com/quick-tips-5-column-layout-with-twitter-bootstrap/ -->
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
/* these are my own extensions of Bootstrap */

.panel-footer:hover,
.panel-footer:focus {
    background: #eee;
    cursor: pointer;
}
.panel-footer:active {
    background: #555;
    color: #eee;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
/* Got this from http://stackoverflow.com/questions/2584138/css3-continuous-rotate-animation-just-like-a-loading-sundial */

i:hover {
    -webkit-animation: spin 1.5s infinite ease;
}